.desktop,
.screen {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.faqParent {
  width: 848px;
  align-items: flex-start;
  gap: 48px;
  max-width: 100%;
  text-align: left;
  font-size: 48px;
  color: var(--color-gray);
  font-family: var(--med);
}
.desktop,
.screen {
  box-sizing: border-box;
  gap: var(--gap-45xl);
}
.screen {
  width: 1236px;
  align-items: flex-start;
  padding: 0 4px 0 0;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-dimgray);
  font-family: var(--med);
}
.desktop {
  position: relative;
  background-color: var(--color-whitesmoke);
  width: 100%;
  overflow: hidden;
  align-items: center;
  padding: 27px var(--padding-xl) 307px;
  letter-spacing: normal;
}
@media screen and (max-width: 675px) {
  .desktop,
  .screen {
    gap: var(--gap-13xl);
  }
}
@media screen and (max-width: 450px) {
  .desktop,
  .screen {
    gap: var(--gap-base);
  }
}
